{% extends 'base.html.twig' %}

{% block title %}Mon panier
{% endblock %}

{% block main %}
	<section class="my-cart">
		<h1>Mon panier</h1>
		{% set cartWithQuantity = cartDetails|filter(cart => cart.quantity > 0) %}
		<div class="cart-header">
			{% if cartWithQuantity is not empty %}
				<div class="empty-cart">
					<a href="{{path('app_clear_cart')}}">x</a>
					<a href="{{path('app_clear_cart')}}">Vider le panier</a>
				</div>
			{% endif %}

			{% for oneCart in cartWithQuantity %}
				<div class="cart-product">
					<a href={{path('app_product', { id: oneCart['product'].id } ) }}><img class="cart-image" src="{{ asset('img/'~oneCart['product'].picture |replace({'.jpg': '.webp'}))}}" alt="{{ oneCart['product'].name}}"></a>
					<div class="product-resume">
						<p class="product-name">{{ oneCart['product'].name}}</p>
						<p class="quantity">Quantité :
							{{oneCart.quantity}}</p>
						<p class="product-price">{{oneCart.totalPriceOfOneProduct|number_format(2, ',', ' ')}}€</p>
					</div>
				</div>
			{% endfor %}
		</div>

		{% if cartWithQuantity is not empty %}
			<div class="cart-body">
				<h3>Total panier :
					<span>{{totalPrice|number_format(2, ',', ' ')}}€</span>
				</h3>
				<p>Frais de livraison : Offert</p>
			</div>
			<div class="cart-footer">
				{{ form_start(validateCartForm, {'action': path('app_validate_cart')}) }}
				{{ form_widget(validateCartForm) }}
				{{ form_end(validateCartForm) }}
			</div>
		{% else %}
			<p class="cart-is-empty-text">Votre panier est vide.</p>
		{% endif %}
	</section>
{% endblock %}
