{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block main %}

	<section class="my-account">
		<h1>Mon compte</h1>
		{# Mes commandes #}
		<div class="my-order">
			<h2>Mes commandes</h2>
			{% if orders is defined and orders is not empty %}
				<table class="my-order-table">
					<thead>
						<tr>
							<th>N°</th>
							<th>Date</th>
							<th>Prix</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
							<tr>
								<td>{{order.id}}</td>
								<td>{{order.createdAt|date('d/m/Y')}}</td>
								<td>{{order.paidPrice|number_format(2, ',', ' ')}}€</td>
							</tr>
						{% endfor %}
					{% else %}
						<p>Votre commande est vide.</p>
					{% endif %}
				</tbody>
			</table>
		</div>
		{# Mes accès API #}
		<div class="my-access-API">
			<h2>Mon accès API</h2>
			{{ form_start(activateApiForm) }}
			<button type="submit" class="api-access">
				{{ app.user and app.user.activatedAPI 
					? 'Désactiver mon accès API' 
					: 'Activer mon accès API' 
				}}
			</button>
			{{ form_end(activateApiForm) }}
		</div>

		<div class="delete-my-account">
			<a href="{{ path('app_delete_my_account') }}" class="delete-account-button">Supprimer mon compte</a>
		</div>
	</section>
{% endblock %}
