{% extends 'base.html.twig' %}

{% block title %}
	{{product.name}}
	- GreenGoodies
{% endblock %}

{% block main %}
	<section class="product-details-block">
		<img src="{{ asset('img/'~product.picture) }}" alt="{{ product.name }}" class="product-details-image">
		<div class="product-details">
			<div class="product-texts">
				<h1>{{ product.name }}</h1>
				<p class="product-unit-price">{{ product.price|number_format(2, ',', ' ') }}
					€</p>
				<h3>Description</h3>
				<p class="long-description">{{ product.longDescription|nl2br }}</p>
				<form action="{{ path('app_add_to_cart', {id: product.id}) }}" method="post" class="quantity-form">
					<div class="quantity-block">
						<label for="quantity">Quantité :</label>
						<select name="quantity" id="quantity" class="quantity-dropdown" required>
						
							{% for i in quantityOptions %}
								<option value="{{ i }}"
								{% if cart[product.id] is defined and cart[product.id] == i %}selected{% endif %} 
								{% if i == 0 %}disabled{% endif %}	
								>{{ i }}</option>
								{{ i }}
							</option>
							{% endfor %}
						</select>
					</div>
					<button type="submit" class="add-to-cart">
					{% if cart[product.id] is defined %}
						Mettre à jour le panier
					{% else %}
						Ajouter au panier
					{% endif %}
					</button>
				</form>
			</div>
		</div>	
	</section>
{% endblock %}

