{% extends 'base.html.twig' %}

{% block title %}
	{{product.name}}
	- GreenGoodies
{% endblock %}

{% block main %}
	<section class="product-details-block">
		<img src="{{ asset('img/'~product.picture |replace({'.jpg': '.webp'})) }}" alt="{{ product.name }}" class="product-details-image">
		<div class="product-details">
			<div class="product-texts">
				<h1>{{ product.name }}</h1>
				<p class="product-unit-price">{{ product.price|number_format(2, ',', ' ') }}
					€</p>
				<h3>Description</h3>
				<p class="long-description">{{ product.fullDescription|nl2br }}</p>

				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					{{ form_start(cartQuantityForm, {
					'attr': 
					{'novalidate': 'novalidate',
					'class': 'quantity-form'}}) }}
					<div class="quantity-block">
						{{ form_row(cartQuantityForm.quantity) }}
					</div>
					<button type="submit" class="add-to-cart">
						{% if cart[product.id] is defined and cart[product.id] > 0 %}
							Mettre à jour le panier
						{% else %}
							Ajouter au panier
						{% endif %}
					</button>
					{{ form_end(cartQuantityForm) }}
				{% else %}
					<a class="add-to-cart" href="{{ path('app_login') }}">
						Connexion
					</a>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
