<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1"/>
		<title>
			{% block title %}{% endblock %}
			- GreenGoodies
		</title>

		{# favicon #}
		<link
		rel="icon" href="{{ asset('img/favicon.png') }}">

		{# css #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
		{% endblock %}

		{# javascript #}
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{# header #}
		{% block header %}
			<header
				class="navbar">
				{# logo and navigation #}
				<div class="logo">
					<a href="">
						<img src="{{ asset('img/logo.svg') }}" alt="GreenGoodies Logo">
					</a>
				</div>
				<nav class="nav-links">
					<a href="#">Nos produits</a>
					<a href="#">Mon panier</a>
					<a href="#">Mon compte</a>
					<a href="#">Déconnexion</a>
				</nav>
			</header>
		{% endblock %}

		{# main content #}
		{% block main %}
			<main>
				{% block content %}{% endblock %}
			</main>
		{% endblock %}

		{# footer #}
		{% block footer %}
			<footer>
				<p>&copy; GreenGoodies -
					{{ "now"|date("Y") }}
				</p>
			</footer>
		{% endblock %}
	</body>
</html>
